.save-wrapper {
  @include absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save-dialog,
.select-folder-wrapper {
  margin: 0 auto;
  border: 1px solid $theme-color;
  border-radius: 4px;
  background: $theme-color-light;
}

.save-dialog {
  padding: 1em;
  width: 32em;
  font-size: 1.25em;

  .row {
    margin: 0.5em 0;
  }

  .row.actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .save-label {
    font-weight: normal;
    float: left;
    width: 24%;
  }

  .save-input {
    font-size: 0.833333em;
    width: 74%;
    margin-left: auto;
    border: 1px solid $theme-color-dark;
    border-radius: 4px;
    background-color: $theme-color-lighter;

    &:active,
    &:focus {
      background-color: white;
    }
  }
}

.tag-container {
  display: inline-block;
  position: relative;

  + .tag-container {
    margin-left: 0.3em;
  }

  .tag-text,
  .tag-input {
    //@include rounded;
    font-size: 0.64em;
    font-family: $sans-serif;
    padding: 0.2em 0.5em;
    margin: 0;
  }

  .tag-input {
    @include absolute;
    width: 100%;
  }

  .tag-text {
    padding-right: 0.8em;
    display: inline-block;
    visibility: hidden;
    white-space: pre;
  }

  &:not(.fixed) .tag-text {
    padding-right: 2em;
  }

  .tag-add,
  .tag-remove {
    @include rounded;
    @include clickable;
    display: inline-block;
  }

  .tag-add {
    @include clickable-proactive;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2em;
    border: 1px solid black;
    z-index: 1;

    &:before {
      display: inline-block;
      content: "+";
      font-size: 0.6em;
      font-weight: bold;
      color: black;
      line-height: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tag-remove {
    position: absolute;
    top: 50%;
    right: 0.3em;
    transform: translateY(-50%);
    width: 0.7em;
    height: 0.7em;
    background-color: $theme-color;
    visibility: hidden;

    &:before {
      display: inline-block;
      content: "×";
      font-size: 0.6em;
      font-weight: bold;
      color: white;
      line-height: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $theme-color-dark;
    }

    &:active {
      background-color: $theme-color-darker;
    }
  }

  &:hover .tag-remove {
    visibility: visible;
  }
}

.select-folder-wrapper {
  position: relative;
  width: 36em;
  min-height: 24em;
  padding: 0.5em;

  .select-folder-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 2px solid $theme-color;
  }
}
