.save-wrapper {
  @include absolute;
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.save-dialog,
.select-folder-wrapper {
  margin: 0 auto;
  border: 1px solid $theme-color;
  border-radius: 4px;
  background: $theme-color-light;
}

.save-dialog {
  padding: 1em;
  width: 32em;
  font-size: 1.25em;

  .row {
    margin: 0.5em 0;
  }

  .row.actions {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
  }

  .save-label {
    font-weight: normal;
    float: left;
    width: 24%;
  }

  .save-input {
    font-size: 0.833333em;
    width: 74%;
    margin-left: auto;
    border: 1px solid $theme-color-dark;
    border-radius: 4px;
    background-color: $theme-color-lighter;

    &:active,
    &:focus {
      background-color: white;
    }
  }
}

.select-folder-wrapper {
  position: relative;
  width: 36em;
  min-height: 24em;
  padding: 0.5em;

  .select-folder-dialog {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 2px solid $theme-color;
  }
}
