#qa-wrapper {
  .qa-list {
    .qa-list-empty {
      padding: 1em;
    }
  }

  .qa-item {
    padding: 0.5em;
    border-bottom: 1px solid $theme-color;
    background-color: $theme-color-root-background;

    &:hover {
      background-color: $theme-color-lighter;
    }

    .qa-answer,
    .qa-refs {
      margin-top: 0.5em;
    }

    .qa-question,
    .qa-answer,
    .qa-refs {
      display: flex;

      .noselect {
        margin-right: 0.4em;
      }
    }

    .qa-question {
      margin: 0;
      font-size: inherit;
      font-weight: bold;

      input {
        width: 100%;
      }
    }

    .qa-answer {
      textarea {
        font-family: $sans-serif;
        resize: vertical;
        width: 100%;
        min-height: 4em;
      }
    }

    .qa-refs {
      .tag-container {
        margin: {
          top: -0.2em;
          bottom: -0.2em;
        }
      }
    }

    .qa-actions {
      display: flex;
      justify-content: space-evenly;
      margin: {
        top: 0.8em;
        bottom: 0.5em;
      }

      button {
        font-size: 0.9em;

        + button {
          margin-left: 0.5em;
        }
      }
    }
  }

  .qa-ask {
    display: flex;
    padding: 0.5em 0.3em;

    input {
      font-size: inherit;
    }

    input[type="text"] {
      width: auto;
      flex: 1 0 auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      + input {
        border-left: none;
      }
    }

    input[type="button"] {
      padding: {
        top: 0.2em;
        bottom: 0.2em;
      }
      margin: {
        top: 0;
        left: 0;
        bottom: 0;
      }
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
