.webview-container {
  display: flex;
  flex-direction: column;

  .function-tabs {
    display: flex;
    flex-wrap: wrap;

    .tab-item {
      @include clickable;
      flex: 1 0 auto;
      text-align: center;
      padding: 0.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $theme-color-lighter;
      }

      &.active {
        color: white;
        background-color: $theme-color;
      }
    }
  }

  > webview {
    flex: 1 0 auto;
  }

  .webview-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $theme-color;

    .control-item {
      @include clickable;
      margin: 0;
      padding: 0.3em;
      border-radius: 0.5em;
      transition: all 0.2s ease-in-out;

      + .control-item {
        margin-left: 0.5em;
      }

      &:hover {
        background-color: $theme-color-lighter;
      }
    }

    .separator {
      width: 0;
      margin: 0 0.2em;
      height: 1.2em;
      border-left: 1px solid $theme-color;
    }
  }
}
