.webview-container {
  display: flex;
  flex-direction: column;

  .function-tabs {
    display: flex;
    flex-wrap: wrap;

    .tab-item {
      @include clickable;
      flex: 1 0 auto;
      text-align: center;
      padding: 0.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: $theme-color-lighter;
      }

      &.active {
        color: white;
        background-color: $theme-color;
      }
    }
  }

  > webview {
    flex: 1 0 auto;
  }

  .webview-control {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
