.toolbar {
  background-color: #eaeaea;
  border-bottom: 1px solid #d0d0d0;
  height: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5px;
  text-shadow: 1px 1px 0 #fff;
  z-index: 100;
  box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 1);

  .spacer {
    display: inline-block;
    border-left: 1px solid #c1c1c1;
    height: 34px;
    margin: 0 5px -11px;
    align-self: baseline;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    background-color: #eaeaea;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 15px;
    padding: 3px;
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    position: relative;
    min-width: 27px;
    min-height: 27px;

    &:after {
      content: " ";
      display: block;
    }

    &.active {
      border-color: #bababa;
      -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
    }

    &:hover,
    &:focus {
      border-color: #bababa;
    }

    &.pen {
      font-size: 16px;
    }

    &.comment {
      font-size: 10px;
      color: #ffffff;
      text-shadow: 0 0 0 #000000;
    }

    &.rectangle:after {
      width: 15px;
      height: 15px;
      border: 1px solid red;
      position: absolute;
      top: 4px;
      left: 4px;
    }

    &.highlight:after {
      width: 17px;
      height: 17px;
      background: yellow;
      position: absolute;
      top: 4px;
      left: 4px;
    }

    &.strikeout:after {
      width: 15px;
      height: 1px;
      background: red;
      position: absolute;
      top: 12px;
      left: 4px;
    }

    &.text:after {
      content: "T";
      font-family: "Times New Roman";
    }
  }

  .color {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    vertical-align: middle;
  }

  .color-selected {
    border: 3px solid #666;
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: -2px;
  }

  .text-color,
  .pen-color {
    display: inline-block;
  }

  select {
    margin: auto 6px;
  }
}
