.Folder {
  display: flex;
  flex-direction: column;

  .heading {
    @include item-pad;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: $theme-color-muted;
    text-shadow: 0 0 4px rgba(0,0,0,0.5);
  }

  .all-papers,
  .item-button {
    @include clickable;
    @include item-pad;
  }

  .all-papers {
    @include clickable-reactive;
  }

  .buttons-bar {
    border-top: 1px solid $theme-color;
    border-bottom: none;
    display: flex;
    flex-direction: row;

    .item-button {
      @include clickable-proactive;
      width: auto;
      flex: 1 0 auto;
      text-align: center;
      border-bottom: none;

      > span {
        margin-left: 0.3em;
      }

      + .item-button {
        border-left: 1px solid $theme-color;
      }
    }
  }

  .item-list {
    flex: 1 0 0;
    overflow-y: auto;

    .item {
      @include clickable;
      @include clickable-reactive;
      @include item-pad;
    }

    + .item-list {
      border-top: 2px solid $theme-color;
    }
  }
}
