.InfoZone {
  h2 {
    font-weight: normal;
    font-size: 2em;
    margin: 0 0 1em;
  }

  .InfoTable {
    width: 100%;

    th, td {
      padding: 0.2em;
    }

    th[scope=row] {
      text-align: right;

      + td {
        margin-left: 0.5em;
      }
    }

    input[type=text], textarea {
      font-size: inherit;
      width: 100%;
    }

    td textarea {
      font-size: 0.833333em;
      resize: vertical;
      min-height: 3em;
    }
  }

  .Operations {
    margin-top: 1em;

    input[type=button], button {
      font-size: 0.9em;
    }
  }
}