.navbar {
  display: flex;
  flex-direction: column;
  width: 4em;
  background-color: $theme-color;

  .nav-item {
    @include clickable;
    padding: 0.5em;
    color: $theme-color-foreground;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &__icon {
      width: 100%;
      font-size: 2em;

      .fas,
      .far,
      .fab {
        display: inline-block;
        margin: 0 auto;
      }
    }

    &__title {
      font-size: 0.8em;
      overflow-x: hidden;
    }

    &:hover {
      background-color: $theme-color-highlight;
      color: $theme-color-highlight-foreground;
    }

    &.active {
      background-color: $theme-color-active;
      color: $theme-color-active-foreground;
    }
  }
}
