.navbar {
  display: flex;
  flex-direction: column;
  width: 4em;
  background-color: $theme-color;

  .nav-item {
    @include clickable;
    @include clickable-highlight;
    padding: 0.5em;
    text-align: center;

    &__icon {
      width: 100%;
      font-size: 2em;

      .fas,
      .far,
      .fab {
        display: inline-block;
        margin: 0 auto;
      }
    }

    &__title {
      font-size: 0.8em;
      overflow-x: hidden;
    }
  }
}
