@keyframes background-pulse {
  0% {
    background-color: red;
  }

  17% {
    background-color: yellow;
  }

  33% {
    background-color: lime;
  }

  50% {
    background-color: cyan;
  }

  67% {
    background-color: blue;
  }

  83% {
    background-color: magenta;
  }

  100% {
    background-color: red;
  }
}
