@import "variables";
@import "animation";
@import "utils";
@import "common";

*, *:before, *:after{
  box-sizing: border-box;
  overflow-wrap: break-word;
}

body,
#App {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 16px;
  font-family: sans-serif;
  background-color: $theme-color-root-background;
}

.App {
  display: flex;

  @import "main/NavBar";
  @import "main/File";
  @import "main/Reader";
  @import "main/reader/SaveDialog";
  @import "main/Bookmarks";
  @import "main/Folder";
  @import "main/InfoZone";

  @import "pdf-module/Sidebar";

  .main {
    position: relative;
    flex: 1 0 auto;
    overflow: hidden scroll;
  }
}
