//@import "bootstrap";

.absolute {
  @include absolute;
}

button,
input[type="button"],
.btn {
  font-family: inherit;
  font-size: 0.8em;
  background-color: $theme-color-lighter;
  padding: 0.25em 0.4em;
  margin: -0.25em 0;
  border: 1px solid $theme-color-darker;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  &:active {
    background-color: $theme-color-light;
    border: 1px solid $theme-color-active;
  }

  & + & {
    margin-left: 0.5em;
  }
}

.btn-danger {
  background-color: mix($theme-color-lighter, red, 80%);

  &:hover {
    background-color: mix($theme-color-lighter, red, 60%);
  }

  &:active {
    color: white;
    background-color: mix($theme-color-lighter, red, 40%);
  }
}

.btn-success {
  background-color: mix($theme-color-lighter, lime, 80%);

  &:hover {
    background-color: mix($theme-color-lighter, lime, 60%);
  }

  &:active {
    background-color: mix($theme-color-lighter, lime, 40%);
  }
}

.btn-remove {
  display: inline-block;
  font-size: 0.8em;
  font-family: monospace;
  color: white;
  background-color: $theme-color-dark;
  cursor: pointer;
  padding: 0 0.25em;
  border-radius: 99999px;

  &:before {
    content: "×";
  }

  &:hover {
    background-color: $theme-color-darker;
  }
}

.clickable {
  @include clickable;
}

.d-none {
  display: none !important;
}

.form-row {
  + .form-row {
    margin-top: 0.5em;
  }

  @include breakpoint(l) {
    .form-title {
      width: 25%;
      float: left;
      clear: left;
    }
  }
}

.form-title {
  line-height: 1.5;
}

.form-action {
  line-height: 1.5;
}

.has-select {
  position: relative;

  input:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

input,
textarea {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 0.9em;
  outline: none;

  + input,
  + textarea,
  + label {
    margin-left: 0.5em;
  }

  &.no-disable {
    background-color: white;
    color: black;
  }
}

.input-wrapper {
  display: inline-block;
  min-width: 2em;
  height: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  input,
  .input,
  [contentEditable] {
    display: inline-block;
    width: 100%;
    font-size: 0.833333em;
    padding: 0.1em 1.2em 0.1em 0.2em;
    border: 1px solid black;
    border-radius: inherit;

    &:focus {
      outline: none;
      border-color: $theme-color;
    }
  }

  .btn-remove {
    font-size: 0.6em;
    position: absolute;
    top: 50%;
    right: 0.3em;
    transform: translateY(-50%);
  }

  + .input-wrapper {
    margin-left: 0.3em;
  }
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.noselect {
  user-select: none !important;
}

.tag-container {
  display: inline-block;
  position: relative;

  + .tag-container {
    margin-left: 0.3em;
  }

  .tag-text,
  .tag-input {
    //@include rounded;
    font-family: $sans-serif;
    padding: 0.2em;
    margin: 0;
  }

  .tag-input {
    @include absolute;
    width: 100%;
    font-size: 0.9em;
    padding: {
      left: 0.3em;
      right: 0.3em;
    }
    text-align: left;
  }

  .tag-text {
    display: inline-block;
    min-width: 2em;
    padding-right: 0.6em;
    visibility: hidden;
    white-space: pre;
    transition: all 0.2s ease-in-out;
  }

  &:not(.fixed):hover .tag-text {
    padding-right: 1.6em;
  }

  .tag-add,
  .tag-remove {
    @include rounded;
    @include clickable;
    display: inline-block;
  }

  .tag-add {
    @include clickable-proactive;
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.2em;
    border: 1px solid black;
    z-index: 1;

    &:before {
      display: inline-block;
      content: "+";
      font-size: 0.6em;
      font-weight: bold;
      color: black;
      line-height: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .tag-remove {
    position: absolute;
    top: 50%;
    right: 0.3em;
    transform: translateY(-50%);
    width: 0.8em;
    height: 0.8em;
    background-color: $theme-color;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;

    &:before {
      display: inline-block;
      content: "×";
      font-size: 0.6em;
      font-weight: bold;
      color: white;
      line-height: 0;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      background-color: $theme-color-dark;
    }

    &:active {
      background-color: $theme-color-darker;
    }
  }

  &:hover .tag-remove {
    opacity: 1;
    visibility: visible;
  }
}
