@mixin clickable {
  cursor: pointer;

  &.active {
    cursor: inherit;
  }
}

@mixin breakpoint($level) {
  @media screen and (min-width: map-get($breakpoints, $level)) {
    @content;
  }
}

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
